<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" class="container">
    <div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">Listado</h5>
            <p class="card-text">Agrega nueva persoan a la lista</p>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="persona: ${personas}">
                    <td scope="row" th:text="${persona.id}"/>
                    <td th:text="${persona.nombre}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>


