<div class="card" style="width: 18rem;">
    <div class="text-center">
        <img src="img/aldana.jpg" alt="Marcos" class="rounded-circle" width="200" height="200">
    </div>
    <div class="card-body">
        <h5 class="card-title">Aldana</h5>
        <p class="card-text">En mi pasatiempo me gusta bailar, despues de finalizar la secundaria quiero estudiar aeronautica y seguir aprendiendo varios lenguaje de programación</p>
        <a href="#" class="btn btn-primary">mas informacion</a>
    </div>
</div>
