<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/layout}"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content" class="container">
    <!-- Content here -->
    <div class="row" style="padding: 1rem;">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-header">


                    <h5 class="card-title">Practica Integracion Continua</h5>
                </div>

                <div class="card-body">
                    <h5 class="card-title"></h5>

                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">

                            <a href="/persona/alta">Persona-alta</a> <br>
                            <a href="/persona/list">Lista de personas</a> <br>
                            <a href="/direccion/alta">Direcciones-alta<a/a> <br>
                            <a href="/direccion/list">Lista de direcciones</a> <br>
                            
                            

                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="img/111mil.png"/>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>
